{% load static from staticfiles %}
<html id="app" ng-app="co2r" ng-controller="controllers.co2r">

<head>
  <script>window.app_settings = {static_url:"{% static '' %}"};</script>
  <link rel="stylesheet" href="{% static '' %}styles/main.css">
  <title ng-bind="app_title + ' - ' + page_title"></title>
</head>

<body>
  <header></header>
  <a ng-href="/directory">Directory</a>
  <a ng-href="/about">About</a>
  <div id="app-content" ng-view></div>
  <footer></footer>
  <script src="{% static '' %}source/main.js"></script>
</body>


</html>
